
.anim-slideup-loading-enter {
    opacity: 0;
    transform: translateY(50%);
}
.anim-slideup-loading-enter-active {
    opacity: 1;
    transform: translateY(0%);
    transition: all 250ms;
}
.anim-slideup-loading-exit {
    opacity: 1;
}
.anim-slideup-loading-exit-active {
    opacity: 0;
    transition: all 250ms;
}

.anim-fading-enter {
    opacity: 0;
}
.anim-fading-enter-active {
    opacity: 1;
    transition: all 250ms;
}
.anim-fading-exit {
    opacity: 1;
}
.anim-fading-active {
    opacity: 0;
    transition: all 250ms;
}

.fade-in-enter{
    opacity: 0;
 }
 .fade-in-exit{
    opacity: 0;
 }
 .fade-in-enter-active{
    opacity: 1;
 }
 .fade-in-exit-active{
    opacity: 0;
 }
 .fade-in-enter-active,
 .fade-in-exit-active{
    transition: opacity 500ms;
 }