$color-title-big: #ffde9c;
$color-gra-top: #232325;
$color-gra-middle: #7a6d5d;
$color-gra-bottom: #80796b;
$color-gra-left: #a7987b;
$color-gra-right: #18181a;
$color-text-white: #ECECEA;
$color-background: rgba(167,152,123,.5);

$color-dark: #343a40;
$color-nice-dark: #1c2127;